<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand">StoreApp</a>
  <ul class="navbar-nav mr-auto"></ul>
  <span class="rightLink">
    <span class="d-inline cart mr-4">
      <button>
        <a routerLinkActive="d-none" routerLink="cart">
          <img src="./../assets/images/cart.png" alt="" />
        </a>
      </button>
    </span>
    <span class="d-inline userProfile" (click)="toggleShowLink()">
      <button>
        <img src="./../../../assets/images/defaultProfile.png" alt="" />
      </button>
    </span>
  </span>
  <div *ngIf="showLink" class="userLinks">
    <span *ngIf="checkAuth(); then unAuthLink; else authLink"></span>
    <ng-template #unAuthLink>
      <ul>
        <li class="nav-item">
          <a
            class="nav-link btn btn-primary"
            routerLinkActive="active"
            routerLink="login"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link btn btn-primary"
            routerLinkActive="active"
            routerLink="register"
            >Register</a
          >
        </li>
      </ul>
    </ng-template>
    <ng-template #authLink>
      <ul>
        <li class="nav-item">
          <a
            class="nav-link btn btn-primary"
            routerLinkActive="active"
            routerLink="profile"
            >Profile</a
          >
        </li>
        <li class="nav-item">
          <button class="nav-link btn btn-danger" (click)="logoutUser()">
            Logout
          </button>
        </li>
      </ul>
    </ng-template>
  </div>
</nav>
